.login_container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  flex-flow: column;
  transition: all 0.4s ease;
  width: 70%;
}

.signup_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* .signup_container label {
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  min-width: 120px;
  padding: 10px;
  box-sizing: border-box;
} */
.signup_email,
.signup_pass {
  grid-template-columns: 1fr 9fr;
}

.signup_container input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
}
.submit_btn-container {
  min-width: 50%;
  overflow: hidden;
  border-radius: 5px;
}
.submit_btn-container > button {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  background-color: #f37e1f;
  color: #eee;
  font-weight: 600;
  border: 0;
  font-size: 1.2em;
}
.submit_btn-container > button:focus,
.submit_btn-container > button:hover {
  background-color: #f79b11;
  cursor: pointer;
  transition: all 0.4s ease;
  transform: scale(1.1);
}

@media (max-width: 710px) {
  .login_container {
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
  }
}
