.prev_btn {
  display: flex;
  flex-direction: row;

  padding: 5px;
  margin: 20px;
}

.prev-btn {
  min-width: 170px;
  padding: 14px;
  margin: 5px;
  color: white;
  background-color: crimson;
  border: 4px solid rgb(199, 169, 169);
  border-radius: 15px;
  height: 55px;
  transition: background 0.4s ease;
  font-size: 1rem;
  text-transform: uppercase;
}

.prev_btn :hover {
  color: crimson;
  background-color: whitesmoke;
  border-color: rgb(189, 94, 94);
  cursor: pointer;
}
