.img_container {
  position: relative;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.img_container img {
  /* height: 200px;
  width: 200px; */
  display: flex;
  padding: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px rgba(160, 147, 147, 0.284);
}

/* .reshuffle_btn > button {
  min-width: 140px;
  min-height: 50px;
  padding: 10px;
  margin: 10px 2px;
  border-radius: 5px;
  color: white;
  font-size: larger;
  font-weight: 500;
  background: -webkit-linear-gradient(rgb(225, 167, 167), rgb(41, 39, 39));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px rgba(81, 252, 8, 0.277);
  border: none;
}

.reshuffle_btn :hover {
  -webkit-text-fill-color: rgb(7, 240, 42);
  color: red;
  background-color: white;
} */

.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin: 15px auto;
  cursor: pointer;
  user-select: none;
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}
.img_container_withoverlay {
  position: relative;
}

/* .img-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 10px;
  background-color: #00a84f;
  z-index: 99;
  width: 70%;
  height: 70%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-overlay::after {
  content: "1";
  color: white;
  font-size: 6rem;
  font-weight: bolder;
} */
